div.panel.panel-primary.autocollapse#ask-user
    div.panel-heading.clickable((click)="isHelpSpoilerVisible = !isHelpSpoilerVisible;")
        span.sub_icon.glyphicon.glyphicon-search
        h3.panel-title
            | Нужна помощь?
    div.panel-body(*ngIf="isHelpSpoilerVisible")
        a.btn.btn-info(href='#', routerLink='/category/1', routerLinkActive="active") КЛАССИКА
            span.sub_icon.glyphicon.glyphicon-glass
        a.btn.btn-info(href='#') РОМАНТИКА
            span.sub_icon.glyphicon.glyphicon-heart
        a.btn.btn-success(href='#') ЭКСКУРСИИ
            span.sub_icon.glyphicon.glyphicon-star-empty
        a.btn.btn-success(href='#') ВЫСТУПЛЕНИЯ
            span.sub_icon.glyphicon.glyphicon-bullhorn
        a.btn.btn-warning(href='#') АКТИВНЫЕ
            span.sub_icon.glyphicon.glyphicon-camera
        a.btn.btn-warning(href='#') ЭКСТРИМ
            span.sub_icon.glyphicon.glyphicon-warning-sign

