div.panel.panel-primary.autocollapse#place-info(*ngIf='places.length >= 1')
    div.panel-heading.clickable((click)="isPlaceInfoSpoilerVisible = !isPlaceInfoSpoilerVisible;")
    div.panel-body(*ngIf="isPlaceInfoSpoilerVisible")
        div(*ngFor="let place of places")
            div.well.search-res
                h4 {{ place.formatted_address }}
                div.place-wrapper
                    div.place
                        div.flex-container.place-details
                            div.flex-element
                                h6 Wi-Fi
                                span 22
                            div.flex-element
                                h6 Рабочие места
                                span 52
                            div.flex-element
                                h6 Сотовые сети
                                span 2
                            div.flex-element
                                h6 Жилье
                                span 62
                            div.flex-element
                                h6 Достопримечательности
                                span 21
                            div.flex-element
                                h6 Туры и Экскурсии
                                span 52
                            div.flex-element
                                h6 Магазины рядом
                                span 121
                            div.flex-element
                                h6 Персональные гиды
                                span 66
                            div.flex-element
                                h6 Я был тут
                                span 66
                    div.place-social-interact
                        div.social-buttons
                            div.like-button-wrapper
                                img.img-circle.special-img.like-button(src='https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/08_heart-2-128.png')
                        div.social-share
                            div.btn-group.open.our-rate
                                a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='true', (click)='$event.preventDefault(); place.isRateDropdownVisible = !place.isRateDropdownVisible;')
                                    | Оценки
                                    span.caret
                                ul.dropdown-menu(*ngIf="place.isRateDropdownVisible")
                                    li
                                        a(href='#') Классика - 3.1
                                    li
                                        a(href='#') Романтика - 4.3
                                    li
                                        a(href='#') Экскурсии - 2.8
                                    li
                                        a(href='#') Выступления - 1.0
                                    li
                                        a(href='#') Активное - 2.5
                                    li
                                        a(href='#') Экстрим - 0.3
                            div.btn-group.open.share
                                a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='true', (click)='$event.preventDefault(); place.isShareDropdownVisible = !place.isShareDropdownVisible;')
                                    | Поделиться
                                    span.caret
                                ul.dropdown-menu(*ngIf="place.isShareDropdownVisible")
                                    li
                                        a(href='#') Facebook
                                    li
                                        a(href='#') Twitter
                                    li
                                        a(href='#') VK
