div.panel.panel-primary.autocollapse#place-info(*ngIf='places.length >= 1')
    div.panel-heading.clickable((click)="isPlaceInfoSpoilerVisible = !isPlaceInfoSpoilerVisible;")
    div.panel-body(*ngIf="isPlaceInfoSpoilerVisible")
        div(*ngFor="let place of places")
            div.well.search-res
                h4 {{ place.formatted_address }}
                div.place-wrapper
                    div.place
                        div.flex-container.place-details
                            div.flex-element
                                h6 Wi-Fi
                                span 22
                            div.flex-element
                                h6 Work Places
                                span 52
                            div.flex-element
                                h6 Cell Networks
                                span 2
                            div.flex-element
                                h6 Apartments
                                span 62
                            div.flex-element
                                h6 Personal Guides
                                span 66
                            div.flex-element
                                h6 Sights
                                span 21
                            div.flex-element
                                h6 Tours
                                span 52
                            div.flex-element
                                h6 Users There
                                span 66
                    div.place-social-interact
                        div.social-buttons
                            img.img-circle.special-img(src='https://cdn0.iconfinder.com/data/icons/basic-ui-elements-colored/700/08_heart-2-128.png')
                        div.social-share
                            div.btn-group.open.our-rate
                                a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='true', (click)='$event.preventDefault(); place.isRateDropdownVisible = !place.isRateDropdownVisible;')
                                    | Our Rate
                                    span.caret
                                ul.dropdown-menu(*ngIf="place.isRateDropdownVisible")
                                    li
                                        a(href='#') Classic - 3.1
                                    li
                                        a(href='#') Romantic - 4.3
                                    li
                                        a(href='#') Museums & Art - 2.8
                                    li
                                        a(href='#') Perfomances - 1.0
                                    li
                                        a(href='#') Active - 2.5
                                    li
                                        a(href='#') Extreme - 0.3
                            div.btn-group.open.share
                                a.btn.btn-default.dropdown-toggle(href='#', data-toggle='dropdown', aria-expanded='true', (click)='$event.preventDefault(); place.isShareDropdownVisible = !place.isShareDropdownVisible;')
                                    | Share
                                    span.caret
                                ul.dropdown-menu(*ngIf="place.isShareDropdownVisible")
                                    li
                                        a(href='#') Facebook
                                    li
                                        a(href='#') Twitter
                                    li
                                        a(href='#') VK
