nav#mainNav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.container
        div.navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.page-scroll(href="#page-top") make
                span Trip

        div.navbar-collapse.collapse.navbar-right
            ul.nav.navbar-nav
                li
                    a.page-scroll(href="#") Партнеры
                li
                    a.page-scroll(href="#") Контакты
                li
                    a.page-scroll(href="#") О нас