.map-wrapper {
  display: flex;
  height: 400px;
  justify-content: space-between;
  .map {
    flex-grow: 25;
  }
  .start-button {
    flex-grow: 1;
    height: 100%;
    vertical-align: middle;
    margin: 0 0 0 10px;
    padding: 0;
    .dropdown-toggle {
      top: -395px;
      left: 60px;
      z-index: 100;
      background-color: #51a251;
      width: 35px;
      height: 25px;
    }
    .disabled {
      background-color: gray;
    }
    div, #start-button {
      display: inline-block;
      width: 100%;
      font-size: 2.5rem;
      background-image: url('http://www.medstart.com.au/online/theme/medstart20130501/pix/white-right-arrow.png');
      background-repeat: no-repeat;
      background-position: center center;
      height: 100%;
      text-align: left;
      margin: 0;
      padding: 0;
    }
    #start-button {
      padding-left: 10px;
    }
  }
}

.modal#go-preferences {
  display: block;
  top: 100px;
  .radio {
    text-align: left;
  }
}
