div#wrapper([class.active]="isSidebarVisible")
    div#sidebar-wrapper
        ul#sidebar_menu.sidebar-nav
            li.sidebar-brand((click)="$event.preventDefault(); isSidebarVisible = !isSidebarVisible;")
                div.category-header
                    a#menu-toggle(href='#')
                    | ТОП
                div.category-content
                    span.sub_icon.glyphicon.glyphicon-chevron-right
        ul.sidebar-nav#sidebar-bottom
            li
                div.category-header
                    a МЕСТА
                div.category-content
                    img.img-circle.special-img(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTYsl8lm5nlzH11tN6Us2LOMm1gWg8qv4sIfW2FVnuE5-SwWRaI')
                    img.img-circle.special-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRmCXDHSV9_pyv8hA0jkjFqE4Gp0CIeONx7VuzudfycJXTDkS1')
                    img.img-circle.special-img(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTinyljjLWWnE3uX6CgvFYAH7hW3n1ha_KTNYH3RV5P4E4UhXC0')

            li
                div.category-header
                    a ГИДЫ
                div.category-content
                    img.img-circle.special-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUo1kyYk7aWhhQivE-4nxz2tfl3EhLUs5Yl4ESVJJItRFsFVuZgw')
                    img.img-circle.special-img(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTFd2vWiIxXsnj8yyBBWcqzDnwDdk840sew3ALyEL9IGd4RW97Y')
                    img.img-circle.special-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpBTsG7iYnlWEbU-e536b_ZDzaEkpSxEa9MDwXVyIZtDJZ-ikt')
            li
                div.category-header
                    a ЛЮДИ
                div.category-content
                    img.img-circle.special-img(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR9oxPWNVNeft3FUi6u6J7qldYROnqJxX08Cnhsz6isYdtujeKy')
                    img.img-circle.special-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpBTsG7iYnlWEbU-e536b_ZDzaEkpSxEa9MDwXVyIZtDJZ-ikt')
                    img.img-circle.special-img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThseiGdu2N7VlUOj4MY1kovXAKK52SRdLwoqV-TinUVo-kiF6iBw')
    div#page-content-wrapper
        div#headerwrap
            div.container
                div.row
                    div.col-lg-12.col-lg-offset-0.himg
                        help-spoiler
                        router-outlet