#headerwrap {
  min-height: 1000px;
}

.row{
  margin-left:0px;
  margin-right:0px;
}

#wrapper {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%
}

#sidebar-wrapper {
  margin-left: -150px;
  padding-top: 70px;
  left: 70px;
  width: 150px;
  background: #8098a3;
  color: #fff;
  position: fixed;
  height: 100%;
  z-index: 1;
  transition: all .4s ease 0s;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
#page-content-wrapper {
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
  display: block;
  float: left;
  color: #b2b2b2;
  text-decoration: none;
  width: 100%;
  border-bottom: 1px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}


.sidebar_name {
  padding-top: 25px;
  opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  display: flex;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #1A1A1A;
  text-decoration: none;
}

.category-content {
  width: 100%;
}
li.sidebar-brand {
  span {
    margin:10px -4px 0 0;
  }
}
.sidebar-nav li a{
  border: none;
  width: 74px;
}

.sidebar-nav li:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li:active,
.sidebar-nav li:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}


.sidebar-nav > .sidebar-brand a:hover {
  background: none;
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
}

#main_icon
{
  float:right;
  padding-right: 30px;
  padding-top:20px;
}
img {
  display: block;
  border: 1px solid #5f819e;
  height: 35px;
  width: 35px;
  margin: 10px auto;
}
.sub_icon
{
  float:right;
  padding-right: 32px;
  padding-top:10px;
  padding-bottom:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
  #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all .4s ease 0s;
  }
}
